
*{
	padding: 0;
	margin: 0;
}


.navbar1{
	width: 100%;
	height: 80px;
	background-color: #0d6efd;

} 
.navbar1 ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
	gap: 20px;
	padding: 19px;
}
.navbar1 ul li a{
	font-size: 30px;
	text-decoration: none;
	color: white;
}

.jumbotron{
	padding-top: 20px;
	background-color: #e2edff;
}

.jumbotron img{
	box-shadow: 0 0 7px grey;

}


.about{
	padding: 0;
	margin: 0;
	margin-top: 30px;
}


.project{
	padding-top: 20px;
	background-color: #e2edff;
	justify-content: center;
	align-self: center;
	
}
.project img{
	margin-top: 10px;
}


#contact{

}
#contact h2{
	margin-top: 20px;
}


footer{
	height: 50px;
}

hr{
	position: relative;
	left: 25%;
}
.svg3{
	position: relative;
	bottom: -2;
}


	.slide-wrapper{
				position: relative;
				max-width: 48rem;
				margin: 0 auto;
				box-shadow: 0 0 15px grey;
				padding: 2px;
				padding-bottom: 10px;
	
			}
			.slider{
				gap: 10px;
				display: flex;
				aspect-ratio: 16 / 9;
				overflow-x: auto;
				scroll-snap-type: x mandatory;
				scroll-behavior: smooth;
			
			}
			.slider img{
				flex: 1 0 100%;
				scroll-snap-align: start;
				object-fit: cover;
			}
			.slide-nav{
			
				position: absolute;
				bottom: 2rem;
				left: 50%;
			    display: flex;
			    column-gap: 4rem;
				transform: translateX(-50%);
			    z-index: 1;

			}
			.slide-nav a{
				width: 1.3rem;
				height: 1.3rem;
				
				border-radius: 50%;
				
				background-color: #fff;
			}

			@media only screen and (max-width: 600px){
				
				.slide-nav{
					column-gap: 1.5rem;
					bottom: 1.5rem;
				}
				.slide-nav a{
					width: 0.5rem;
					height: 0.5rem;
					
				}
				.navbar1{
					height: 45px;
				}
				.navbar1 ul{
					gap: 10px;
					padding: 10px;
				}
				.navbar1 ul li a{
					font-size: 18px;
				}
			}